/image/.env
/aws-discord-bot.iml
/.idea/vcs.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/discord.xml
/.idea/image-discord-bot.iml
/image/bot/util/database/logs.db
/.idea/inspectionProfiles/profiles_settings.xml
